---
// Search results dropdown component
---

<div id="search-results" class="hidden absolute top-full right-0 mt-2 w-96 max-h-96 overflow-y-auto bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-lg z-50">
  <div id="search-results-content" class="p-2">
    <!-- Results will be dynamically inserted here -->
  </div>
</div>

<style>
  #search-results {
    scrollbar-width: thin;
  }
</style>
